.line .line-name {
  font-size: 1.5rem;
}

.line .northbound-southbound-wrapper {
  display: flex;
}

.line .northbound,
.line .southbound {
  padding: 1rem;
}

.line .northbound-heading,
.line .southbound-heading {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}