* {
  box-sizing: border-box;
}

body {
  color: #0F1A20;
  font-family: 'Roboto', sans-serif;
}

.app {
  padding: 1rem;
  max-width: 26rem;
  margin: 0 auto;
}

.app .loading-message {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.app .globe {
  position: relative;
  animation: move-globe 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  margin: 0 0.5rem;
}
.app .globe-2 {
  animation-delay: 0.2s;
}

.app .globe-3 {
  animation-delay: 0.4s;
}

.app .website-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@keyframes move-globe {
  0% {
    top: 0;
  }
  50% {
    top: 1rem;
  }
  100% {
    top: 0;
  }
}