* {
  box-sizing: border-box;
}

body {
  color: #0F1A20;
  font-family: 'Roboto', sans-serif;
}

.app {
  padding: 1rem;
  max-width: 26rem;
  margin: 0 auto;
}

.app .loading-message {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.app .website-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}